
/* ================= SPLASH SCREEN ================= */
.splash-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.splash-logo {
    width: 300px;
    animation: pulse 2s infinite;
    will-change: transform, opacity, filter;
}


/* ================= BOTÕES ================= */
.stButton > button {
    border-radius: 10px;
    font-weight: 500;
    padding: 0.6rem 1rem;
    border: none;
    background:  #004d44;
    color: white;
    transition: all 0.2s ease;
}

.stButton > button:hover {
    transform: translateY(-1px);
    background:  #004d44;
    box-shadow: 0 6px 18px rgba(0, 77, 68, 0.25);
}

/* ================= UPLOAD DE ARQUIVOS ================= */
.stFileUploader button,
.stFileUploader > button,
div.stFileUploader button,
div.stFileUploader > button {
    background: #004d44;
    color: white;
    border: none;
}

.stFileUploader button:hover,
div.stFileUploader button:hover {
    background: #004d44;
}

